h1
{
    text-align:center; 
    color:blanchedalmond;
    font-family:'Times New Roman', Times, serif;
}
h2
{
    text-align:center; 
    color:blanchedalmond;
    font-family:'Times New Roman', Times, serif;
}
body
{
    background-color:black;
}